*{
   

}


body{
    margin: 0 !important;
    padding: 0 !important;
    background: #333;

}
.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.9;

}

body span{
    color: #008ed6;
    
}

body .maina{
    font-weight: bold;
}


.v-header{
    width: 100%;
    height: auto;
    display: block;
    border-bottom: rgb(34, 120, 116) 6px solid;
}
.fullscreen-video-wrap{
    height: auto;
    width: 100%;    
    position: relative;
}
.fullscreen-video-wrap video{
    margin: 0;
    height: auto;
    width: 100%;
    top:0;
    left: 0;
    /* opacity: 0.45; */
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(25, 142, 209, 0.719);
    opacity: 0.35;
    z-index: 1;
}
.header-content{
    position: relative;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
   
   
}


.nawa{
    margin: 0;
    width: 100%;

}
.nawa img{
    margin: auto;
    width: 100%;
}
.table{
    margin: auto;
    width: 80%;
    color:#fff;
    margin-top: 20px;
}
.table td{
    text-align: center;
    width: 40%;
}

.table th{
     width: 20%;
     text-align: center;
}
.dew{
   
}
.raw{
   width: 80%;
   margin: auto;
   text-align: center;
}

.bare{
    width: 80%;
    margin-top: 50px;
    border: #008ed6 3px solid;
    margin-bottom: 50px;
}
.bare th{
    width: 13.5%;
}
.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*fixed=parallax
    scroll=normal*/

    background-attachment: fixed;
}

.pimg1{
    background-image: url(../img/img1.jpg);
    min-height: 350px;
}

.pimg2{
    background-image: url(../img/img2.jpg);
    min-height: 350px;
}

.pimg3{
    background-image: url(../img/img3.jpg);
    min-height: 350px;
} 
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: #f4f4f4;
    color: #333;
}
.section-dark{
    background-color: #333;
    color: #ddd;
    border-top: #fff 3px solid;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing:8px;
    text-transform: uppercase;
}
.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.ptext .border .trans{
    background-color: transparent;
}
@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

footer {
    min-height: 60px;
    border-top: #008ed6 4px solid;
    color: #fff;
    text-align: center;
}
.zar{
    height: 50%;
}

footer a{
    color: #fff;
    font-weight: bold;
}
.vus{
    margin-left: 10px;
}
footer a:hover{
    color: #fff;
    font-weight: bold;
}